/**** colors ******/
$pri__red: hsl(0, 100%, 74%);
$pri__green: hsl(154, 59%, 51%);
$accent__blue: hsl(248, 32%, 49%);
$neut__dark-blue: hsl(249, 10%, 26%);
$neut__grayish-blue: hsl(246, 25%, 77%);
$neut__dark-red: rgb(207, 18, 18);

/***** fonts *****/
$ff: "Poppins", sans-serif;
$fs: 16px;
