@use "../abstracts/functions" as f;
@use "../globals/variables" as v;
@use "../abstracts/breakpoints" as b;

.form {
  margin-top: f.rem(22);
  background: #fff;
  padding: f.rem(24);
  border-radius: f.rem(12);
  box-shadow: 2px 10px 5px hsla(248, 41%, 7%, 0.179);

  &__group {
    margin-bottom: f.rem(16);
    position: relative;

    @include b.mq-up(large) {
      margin-bottom: f.rem(16);
    }
  }

  &__warning {
    display: none;
  }

  &__group.error .form__warning {
    text-align: right;
    display: block;
    color: v.$neut__dark-red;
  }

  .fa-circle-exclamation {
    display: none;
  }

  &__group.error .fa-circle-exclamation {
    display: block;
    position: absolute;
    top: 25%;
    right: 5%;
    font-size: f.rem(24);
    color: v.$neut__dark-red;
  }

  &__input {
    padding: f.rem(21);
    width: 100%;
    border-radius: f.rem(8);
    border: 0.5px solid rgba(0, 0, 0, 0.213);

    &::placeholder {
      font-weight: 700;
      font-size: f.rem(16);
    }
  }

  &__group.error .form__input::placeholder {
    opacity: 0;
  }

  &__group.error .form__input {
    border: 2px solid v.$neut__dark-red;
  }

  & p {
    font-size: f.rem(12);
    padding: 0 f.rem(16);
    color: v.$neut__grayish-blue;
    font-weight: 600;
    text-align: center;

    & span {
      color: v.$pri__red;
    }
  }
}
